@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100vw;
  height: 100vh;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.gallery {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.gallery::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}


/* =====> Start of Home styling <====== */

.Learn{
 display:block;
}


/* =====> End of Home styling <====== */

/* =====> start of Feed styling <====== */
.cube{
  background-color: "gray-100";
  background-image:url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
}

#addPost{
  background-color: "gray-100";
  background-image:url("https://www.transparenttextures.com/patterns/dark-denim-3.png");
}

#postContent{
  resize:'none';
  
}


/* =====> End of Feed styling <====== */

/* ====> Start of User Info Modal stylng <=== */

/*===> Styles for the modal overlay <===*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000b3; /* Semi-transparent black overlay */
  z-index: 998; 
  }
  
  /* Styles for the modal content */
  #modalContainerOuter {
    width: 750px;
    border-radius: 8px;
    overflow: hidden;
  }

  /* Styles for the modal content */
  #modalContainer {
    height: 700px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 16px;
    position: relative;
    max-width: 100%; /* Adjust the max-width as needed */
    max-height: 100%; /* Adjust the max-height as needed */
    overflow: auto; /* Enable scrolling if the content is too large */
  }
  .modal-content {
    width: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 16px;
    position: relative;
    max-width: 80%; /* Adjust the max-width as needed */
    max-height: 80%; /* Adjust the max-height as needed */
    min-width:20%;
    overflow: auto; /* Enable scrolling if the content is too large */
  }
  
  
  /* ===> Styles for the close button <=== */
  .modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    cursor: pointer;
  }

  /* ===> Start of 'Card' component styling <==== */

  .top{
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    background-color: #86b5d1;
    position:absolute;
    top:0px;
    left:0;
    display:flex;
  }
  
  .heading{
    text-align: center;
    font-size: 2em;
    color: #2d3436;
    margin: 50px 0 20px;
  }
  
  .card{
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #9dd6f7;
    margin: 25px 0;
    height: 250px;
    width: 550px;
    box-shadow: 0 2px 5px #ccc;
    text-align:left;
  }

  /* start of group profile */
  .gpTop{
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    background-color: #53a1ce;
    position:absolute;
    top:0px;
    left:0;
    display:flex;
  }
  
  .gpHeading{
    text-align: center;
    font-size: 2em;
    color: #2d3436;
    margin: 50px 0 20px;
  }
  
  .gpCard{
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #73c9fa;
    margin: 25px 0;
    height: 250px;
    width: 550px;
    box-shadow: 0 2px 5px #ccc;
    text-align:left;
  }

  .gpBottom{
    margin-top:80px;
  }

.gpCard img{
    margin: 5px 10px 0px 12px;
  }

   /* end of group profile */
  
  .card img{
    margin: 5px 10px 0px 12px;
  }
  
  .name{
    font-size: 2em;
    color:white;
    display: flex;
    flex: 1;
    margin: 2% 1% 0;
  }
  
  .circle-img {
  border-radius: 50%;
  border: 3px solid #fff;
  width: 90px;
  height: 90px;
  }
  
  .bottom{
    margin-top:80px;
  }
  
  .info{
    margin: 8px 0;
    color: #4d595c;

  }


    /* ===> End of 'Card' component styling <==== */
  
  /* ====> End of User Info Modal stylng <=== */

  
  /* Start of 'groupsModal' */

  .gpsModal-content {
    width: 400px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 16px;
    position: relative;
    max-width: 80%; /* Adjust the max-width as needed */
    max-height: 80%; /* Adjust the max-height as needed */
    overflow: auto; /* Enable scrolling if the content is too large */
  }


/* add dots to separate group participants from grp name/desc */
hr.dottedL{
  border-top: 5px dotted #e1eef1;
  background-image: linear-gradient(to right, white 200px, rgba(white, 0) 0%);
}

/* align buttons */
#newGpSubmit{
  position:absolute;
  top:250px;
  left:125px;
}

/* align new Event button */
#newEvSubmit{
  top:250px;
  left:165px;
}

/* #joinGpSubmit{
  bottom:4px;
  left:115px;
} */

.addToGroup{
  color:#4b93bd;
  font-weight: 500;
  margin-left: 5px;
}

  /* End of groupsModal */

    /* ====> Start of notifications popup <====== */

  #showNotif{
    position: relative;
  }

  #showGroupNotif{
    position: relative;

  }

  .notification{
    position:absolute;
    top: 5px;
    left: 10px;
    z-index: 999;
  }

    /* ====> End of notifications popup <====== */

  /* ====> Start of notifications icon <====== */

#notificationsBell{
position: relative
}

.counter {
  width: 16px;
  height: 16px;
  background-color: red;
  border-radius: 50%;
  padding: 0px;
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 4px;
  right: 4px;
}

.isMember {
  width: 16px;
  height: 16px;
  background-color: #2dbd2d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  margin-right: 10px;
  margin-left: 5px;
}

/* to style the notification */
.notification-item {
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 300px;
  height: 200px;
  visibility: hidden;
  z-index: 999;
}

#msg{
  position:absolute;
  top: 35px;
  left: 18px;
}

#grpN{
  position:absolute;
  top: 80px;
  left: 18px;
}

#grpD{
  position:absolute;
  top: 100px;
  left: 18px;
}

/* start of event notification */

/* the event appearing inside the group profile immediately after it was created */
/* the div containing .addEvent */
#showEvts{
  margin-top: 10px;
  /* display:flex; */
}

/*historical events appearing inside the group profile */
/* the div containing .addAllEvents */
#showAllEvts{
  /* margin-top: 10px; */
  display:flex;
  /* background-color: white; */
}

/* div containing a row of events */
.event-row{
  margin-top: 10px;
  margin-left: 40px;
  width: auto;
  display:flex;
}




/* Event details inside the group profile */
.addEvt{
  /* background-color: #d8edfa; */
  position: relative;
  /* box-shadow: 0 0 10px rgba(0,0,0, 0.3);
  border-radius: 10px; */
  overflow: hidden;
  margin-top:15px;
  margin-bottom: 20px;
  margin-left: 5px;
  width: 1400px;
  height: 210px;
  align-content:center;
  flex-direction: column;
  justify-content: space-around;
}

/* to style the notification */
.evtNotification-item {
  box-shadow: 0 0 10px rgba(0,0,0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 300px;
  height: 200px;
  visibility: hidden;
  align-content:center;
  flex-direction: column;
  z-index: 999;
}

/* event date and time */
#grpT{
  position:absolute;
  top: 120px;
  left: 18px;
}

/* event btn ok */
#btnEventOK{
  margin-top:10px;
  margin-left:35px;
  margin-right:30px;
  color: white;
  top: 150px;
  left: 80px;
  border-radius: 6px;
  width: 100px;
  height: 40px;
  box-shadow: 0 0 10px rgba(0,0,0, 0.3);
  flex-direction:column;
  justify-content:center;
}

#btnEventOK:hover{
  background-color: #2f5d78;
  }

/* event btn decline */
#btnEventNO{
  color: white;
  top: 150px;
  border-radius: 6px;
  width: 100px;
  height: 40px;
  box-shadow: 0 0 10px rgba(0,0,0, 0.3);
  flex-direction:column;
  justify-content:center;
}

#btnEventNO:hover{
background-color: #2f5d78;
}

#btnViewEvent{
  color: #82cbf5;
  top: 150px;
  left: 35px;
  margin-top: 110px;
  margin-left: 90px;
  border-radius: 6px;
  width: 100px;
  box-shadow: 0 0 10px rgba(0,0,0, 0.3);
  justify-content:center;
}


#btnViewEvent:hover{
  background-color: #4383a8;
  }

/* end of event notification */

#btnNotifOK{
  position:absolute;
  color: #5dbaf0;
  top: 150px;
  left: 35px;
  border-radius: 6px;
  width: 100px;
  box-shadow: 0 0 10px rgba(0,0,0, 0.3);
}

#btnNotifOK:hover{
  background-color: #2f5d78;
  }

#btnNotifNO{
  position:absolute;
  color: #5dbaf0;
  top: 150px;
  left: 160px;
  border-radius: 6px;
  width: 100px;
  box-shadow: 0 0 10px rgba(0,0,0, 0.3);
}

#btnNotifNO:hover{
background-color: #2f5d78;
}


    /* ====> End of notification counter <====== */

    /* ====> Start of offline notifications */

    #notification-dropdown {
      z-index: 999;
      position: fixed;
      top: 50px;
      right: 0px;
    }



    #offlineNotifBtn{
      position:absolute;
    }


    .offlineAccept{
      margin-left: 150px;
      margin-right: 20px;
      font: primary-600;
    }

    .offlineDecline{
      margin-left: 200px;
    }

    
    /* ====> End of offline notifications */

    /* start of group profile */

    /* addMember contains invite follower, make a post, create event */
    .pTitle{
      width: 200px;
    }

    .pContent{
      width: 250px;
      height: 27px;
      resize:none;
    }

    .pTags{
      width: 170px;
    }

    #joinGpSubmit{
      position: relative;
      align-content: center;
      width: 37%;
      margin: 0 auto;
      top:130px;
      bottom:6px;
    }

    .addEvent{
      /* position: relative; */
      box-shadow: 0 0 10px rgba(0,0,0, 0.3);
      border-radius: 10px;
      overflow: hidden;
      margin-top:10px;
      margin-left:50px;
      margin-bottom: 20px;
      width: 300px;
      height: 200px;
      background-color: #d8edfa;
    }

    .addAllEvents{
      /* position: relative; */
      /* justify-content:space-around; */
      box-shadow: 0 0 10px rgba(0,0,0, 0.3);
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 15px;
      margin-right: 40px;
      width: 300px;
      height: 200px;
      background-color: #d8edfa;
    }
    

    /* end of group profile */

/* ======> Start of Chat messages <======== */
/* this is the chat container */
messages-content {
  display: flex;
  flex-direction: column;
  height: 322px;
  overflow-y: scroll;
  clear: both;
  FONT-VARIANT: JIS04;
  border-radius: 10px 10px 10px 0;
  background: rgba(0, 0, 0, 0.3);
  font-size: 0.4em;
  line-height: 1.2;
  position: relative;
  text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
  margin-right: 0;
  padding-right: -4%;
  padding-left: 1%;
  width: 98%;
  padding-top: 12%;
  padding-bottom: 9%;
}

/* logged-in user's chat message */
.sender {
  color: #fff;
  text-align: left;
  background: linear-gradient(120deg, #d8edfa, #6fd5f1);
  border-radius: 10px 10px 0 10px;
  width: max-content;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 1.8em;
}

/*follower's chat message */
.recipient {
  width: max-content;
  margin-left: auto;  /* align the left edge to the right (push to the right) */
  color: #fff;
  text-align: left;
  background: linear-gradient(120deg, #d8edfa, #6fd5f1);
  border-radius: 10px 10px 10px 0;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 1.8em;
}

/* chat message author*/
.cName {
  font-size: 0.40em;
  padding-left: 8px;
}


/* ======> End of Chat messages <======== */