@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100vw;
  height: 100vh;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.gallery {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.gallery::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* ====> Start of User Info Modal stylng <=== */

/*===> Styles for the modal overlay <===*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
  z-index: 1000; /* Adjust the z-index as needed */
  }
  
  /* Styles for the modal content */
  .modal-content {
    width: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 16px;
    position: relative;
    max-width: 80%; /* Adjust the max-width as needed */
    max-height: 80%; /* Adjust the max-height as needed */
    min-width:20%;
    overflow: auto; /* Enable scrolling if the content is too large */
  }
  
  
  /* ===> Styles for the close button <=== */
  .modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    cursor: pointer;
    color: #666;
  }

  /* ===> Start of 'Card' component styling <==== */

  .top{
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    background-color: #86b5d1;
    position:absolute;
    top:0px;
    left:0;
    display:flex;
  }
  
  .heading{
    text-align: center;
    font-size: 2em;
    color: #2d3436;
    margin: 50px 0 20px;
  }
  
  .card{
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #9dd6f7;
    margin: 25px 0;
    height: 200px;
    box-shadow: 0 2px 5px #ccc;
    text-align:left;
  }
  
  .card img{
    margin: 5px 10px 0px 12px;
  }
  
  .name{
    font-size: 2em;
    color:white;
    display: flex;
    flex: 1;
    margin: 2% 1% 0;
  }
  
  .circle-img {
  border-radius: 50%;
  border: 3px solid #fff;
  width: 90px;
  height: 90px;
  }
  
  .bottom{
    margin-top:80px;
  }
  
  .info{
    margin: 8px 0;
    color: #4d595c;

  }


    /* ===> End of 'Card' component styling <==== */
  
  /* ====> End of User Info Modal stylng <=== */

  
  /* Start of 'groupsModal' */

  .gpsModal-content {
    width: 400px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 16px;
    position: relative;
    max-width: 80%; /* Adjust the max-width as needed */
    max-height: 80%; /* Adjust the max-height as needed */
    overflow: auto; /* Enable scrolling if the content is too large */
  }


/* add dots to separate group participants from grp name/desc */
hr.dottedL{
  border-top: 5px dotted #e1eef1;
  background-image: linear-gradient(to right, white 200px, rgba(white, 0) 0%);
}

/* align buttons */
#newGpSubmit{
  top:250px;
  left:115px;
}

#joinGpSubmit{
  top: 490px;
  left:115px;
}

.addToGroup{
  color:#4b93bd;
  font-weight: 500;
  margin-left: 5px;
}

  /* End of groupsModal */

    /* ====> Start of notifications popup <====== */

  #showNotif{
    position: relative;
  }

  #showGroupNotif{
    position: relative;

  }

  .notification{
    position:absolute;
    top: 5px;
    left: 10px;
  }

    /* ====> End of notifications popup <====== */

  /* ====> Start of notifications icon <====== */

#notificationsBell{
position: relative
}

.counter {
  width: 16px;
  height: 16px;
  background-color: red;
  border-radius: 50%;
  padding: 0px;
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 4px;
  right: 4px;
}

/* to style the notification */
.notification-item {
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 300px;
  height: 200px;
  visibility: hidden;
}

#msg{
  position:absolute;
  top: 35px;
  left: 18px;
}

#grpN{
  position:absolute;
  top: 80px;
  left: 18px;
}

#grpD{
  position:absolute;
  top: 100px;
  left: 18px;
}

#btnNotifOK{
  position: absolute;
  color: white;
  top: 150px;
  left: 35px;
  border-radius: 6px;
  width: 100px;
  box-shadow: 0 0 10px rgba(0,0,0, 0.3);
}

#btnNotifOK:hover{
  background-color: #2f5d78;
  }

#btnNotifNO{
  position: absolute;
  color: white;
  top: 150px;
  left: 160px;
  border-radius: 6px;
  width: 100px;
  box-shadow: 0 0 10px rgba(0,0,0, 0.3);
}

#btnNotifNO:hover{
background-color: #2f5d78;
}


    /* ====> End of notification counter <====== */

    /* ====> Start of offline notifications */

    #notification-dropdown {
      z-index: 999;
      position: fixed;
      top: 50px;
      right: 0px;
    }



    #offlineNotifBtn{
      position:absolute;
    }


    .offlineAccept{
      margin-left: 150px;
      margin-right: 20px;
      font: primary-600;
    }

    .offlineDecline{
      margin-left: 200px;
    }

    
    /* ====> End of offline notifications */